/*FOR HEIGHT CHART*/
html {
	font-family: 'Open Sans', Tahoma, Helvetica, Verdana, sans-serif;
  font-size: 18px;
}
svg {
	border: dashed 1px;
	margin: 20px;
	float: left;
}

.side{
	float: left;
  overflow: auto;
}
.buttons {
  margin: 20px;
  float: left;
  width: 160px;
}
.buttons .btn {
  float:left;
  margin: 10px; 
}
.wind {
  margin: 10px;
  overflow: auto;
  float: left;
}
.wind .row {
  margin: 10px;

}
.btn {
  border-radius: 3px;
  border: steelblue 1px solid;
  background-color: white;
  font-size: 18px;
  padding: 5px;
  min-width: 150px;
}
.btn:hover {
  background-color: #eeeeee;
}
input[type="number"],input[type="text"]{
  background-color: white;
  border-radius: 3px;
  border-color: steelblue;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  font-size: 18px;
}
input:hover{
  background-color: #eeeeee;
}
.select {
  padding: 5px;
  font-size: 18px;
  border-radius: 3px;
  background-color: white;
}
.select:hover {
  background-color: #eeeeee;
}

.line-height {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-linecap: round;
}

.axis--x text {
  font: 10px 'Open Sans', sans-serif;
}

.axis--y text {
  font: 10px 'Open Sans', sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-linecap: round;
}

@-webkit-keyframes zond-flash {
	0% {
		transform: scale(1);
	 	opacity: 1;
	}
	50% {
		transform: scale(3);
		opacity: 0.2;
	}
	100% {
		transform: scale(4);
		opacity: 0;
	}
}
@keyframes zond-flash {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.2;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
@-moz-keyframes zond-flash {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0.2;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
circle.zond {
	fill:red;
	transform-origin: 50% 50%;
	animation-name: zond-flash;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
/* FOR POSITIION CHART*/
.axis-pos text {
  font: 10px sans-serif;
}
.axis-pos line,
.axis-pos circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}
.axis-pos :last-of-type circle {
  stroke: #333;
  stroke-dasharray: 1,4;
}
.line-pos {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}
.line-invisible {	
  stroke-dasharray: 0, 1000;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
}
#initial-table {
  margin: 20px auto;
  width: 500px;
  border: 2px dashed black;
  background-color: #eeeeee;
  padding: 25px;
}
.init-table {
  text-align: right;
  border-collapse: collapse;
}
.init-table td {
  padding: 10px;
}
.output {
  margin: 10px;
  float: left;
  line-height: 24px;
  border-collapse: collapse;
}
.output td {
  border: solid 1px #aaaaaa;
  padding: 8px;
}
#wind-val,#zsp,#wind-dir{
  width:100px;
}
.sim-speed {
  margin: 20px 0 0 20px;
}
select#wind-mode{
  font-size: 18px;
  width:100%;
  height: 34px;
}