/*FOR HEIGHT CHART*/
svg {
	border: dashed 1px;
	margin: 20px;
	float: left;
}
.side{
	margin:20px;
	padding: 10px;
	float: left;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-linecap: round;
}

.axis--x text {
  font: 10px sans-serif;
}

.axis--y text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-linecap: round;
}

@-webkit-keyframes zond-flash {
	0% {
		transform: scale(1);
	 	opacity: 1;
	}
	50% {
		transform: scale(3);
		opacity: 0.2;
	}
	100% {
		transform: scale(4);
		opacity: 0;
	}
}

circle.zond {
	fill:red;
	transform-origin: 50% 50%;
	animation-name: zond-flash;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
/* FOR POSITIION CHART*/
.axis-pos text {
  font: 10px sans-serif;
}
.axis-pos line,
.axis-pos circle {
  fill: none;
  stroke: #777;
  stroke-dasharray: 1,4;
}
.axis-pos :last-of-type circle {
  stroke: #333;
  stroke-dasharray: none;
}
.line-pos {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}